{{#each articles}}
    <h2><a href="{{this.url}}" target="_blank">{{this.headline}}</a></h2>
    {{{this.summary}}}
    <button id="comment-button">Comment</button>
    <button id="view-button">View Comments</button>
    <form id="note-form" action="articles/{{this._id}}/newnote" method="POST">
        <input name="title" type="text" />
        <textarea name="body"></textarea>
        <button type="submit">Add a note</button>
    </form>
    {{#each this.notes}}
        <h3>{{this.title}}</h3>
        <p>{{this.body}}</p>
    {{/each}}
{{/each}}