<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="container is-10">
        <div class="navbar-brand">
            <h1 class="title is-1 navbar-item">Tucson FoodScraper</h1>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="./scrape" class="button is-dark is-medium">Scrape!</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            {{#each articles}}
                <div class="tile is-4 is-12-touch is-12-tablet is-parent">
                    <div class="tile is-child box">
                        <a href="{{this.url}}" target="_blank"><h2 class="title is-3 has-text-primary">{{this.headline}}</h2></a>
                        <h3 class="subtitle is-5">{{this.author}} | {{this.published}}</h3>
                        <hr />
                        <div class="content">
                            {{{this.summary}}}
                        </div>
                        <div class="buttons is-medium is-right">
                            <button class="button is-primary comment-button" data-articleid="{{this._id}}"><i class="far fa-comment-dots" alt="Comment"></i></button>
                            <button class="button is-primary view-button" id="view-notes-for-{{this._id}}" data-articleid="{{this._id}}"><i class="far fa-eye"></i></button>
                        </div>
                        <div class="modal" id="modal-{{this._id}}">
                            <div class="modal-background"></div>
                                <div class="modal-content box">
                                    <h2 class="title is-2">Add a new comment</h2>
                                    <h3 class="subtitle is-5">{{this.headline}}</h3>
                                    <form id="note-form" action="articles/{{this._id}}/newnote" method="POST">
                                        <div class="control">
                                            <input name="title" class="input" type="text" placeholder="Title"/>
                                        </div>
                                        <div class="control">
                                            <textarea name="body" class="textarea"></textarea>
                                        </div>
                                        <div class="control">
                                            <button type="submit" class="button is-primary is-pulled-right">Comment</button>
                                        </div>
                                    </form>
                                    <button class="modal-close is-large" id="close-modal-{{this._id}}" aria-label="close"></button>
                                </div>
                        </div>
                        <div class="box has-background-dark has-text-white hidden" id="notes-for-{{this._id}}">
                        {{#each this.notes}}
                            
                                <div class="note content is-clearfix" id="note-{{this._id}}">
                                    <a class="delete delete-note is-medium is-pulled-right" data-noteid="{{this._id}}" data-articleid="{{../this._id}}"></a>
                                    <h3 class="title is-5 has-text-white">{{this.title}} </h3>
                                    
                                    <p>{{this.body}}</p>
                                </div>
                            
                        {{/each}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>Created by Aretha S.H. Walls&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/arethashwalls/webscrapper" target="_blank"><i class="fab fa-github-square is-size-3 has-text-primary"></i></a></p>
        <p>All content &copy; <a class="has-text-primary" href="https://tucsonfoodie.com/" target="_blank">Tucson Foodie</a></p>
    </div>
</footer>